.user-wrapper {
  height: calc(100% - 66px);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3700B3;

  .userform {
    max-width: 60%;

    .auth-input {
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
      letter-spacing: .009375em;
      box-sizing: border-box;
      width: 100%;
      padding: 8px 0;
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      background: none;
      margin-bottom: 20px;
      outline: 0;

      &:focus {
        border-bottom: 1px solid #2a2a2a;
      }
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    .button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0;
      background: none;
      border-radius: 5px;
      padding: 10px;
      outline: 0;
      float: left;

      &.register-button {
        background: #3700B3;
        color: #fff;
        margin-left: 5px;

        svg {
          color: #fff;
        }
      }

      &.login-button {
        border: 2px solid #3700B3;
      }
    }
  }
}

