.message-wrapper {
  width: 100%;
  display: flex;

  .message-box  {
    flex-direction: column;
    padding: 8px;
    background-color: #fff;
    border-radius: 0 16px 16px 16px;
    margin-bottom: 16px;
    max-width: 65%;

    .timestamp {
      text-align: right;
      font-size: 10px;
    }

    .username {
      font-size: 10px;
      font-weight: bold;
      color: #ea1c43;
    }
  }

  &.my-messages {
    justify-content: flex-end;

    .message-box {
      border-radius: 16px 16px 0 16px;
      background-color: #dcf8c6;
    }
  }

}
