.messages {
  background: #495b64;
  display: flex;
  flex-direction: column;
  flex:1;
  overflow: auto;
}

.chat-wrapper {
  height: calc(100% - 66px);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border: 1px solid #3700B3;
}


.chatbox-wrapper {
  height: 100px;
  background: #fcfcfc;
  padding: 16px;
  box-sizing: border-box;
}

.loading {
  display: flex;
  background: #495b64;
  color: #fff;
  height: 100%;
  justify-content: center;
  align-items: center;
}
