.chatbox {
  display: flex;
  height: 100%;

  .chat {
    width: 100%;
    height: 100%;
    display: flex;

    textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      resize: none;
      width: 100%;
      outline: 0;
      border-radius: 8px;
    }
  }

  .submit {
    align-items: center;
    display: flex;

    button {
      background: none;
      box-shadow: none;
      outline: 0;
      border: 0;
    }
  }
}
